/*
 * Copyright 2015 Patrick Rudolph
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include <verrsrc.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION    NINE_MAJOR,NINE_MINOR,NINE_BUILD,NINE_REVISION
PRODUCTVERSION NINE_MAJOR,NINE_MINOR,NINE_BUILD,NINE_REVISION
FILEFLAGSMASK  63
FILEFLAGS      0
FILEOS         VOS_UNKNOWN
FILETYPE       VFT_DLL
FILESUBTYPE    VFT2_UNKNOWN
{
    BLOCK "StringFileInfo"
    {
        /* LANG_ENGLISH/SUBLANG_DEFAULT, CP1200 (Unicode) */
        BLOCK "0409" "04B0"
        {
            VALUE "CompanyName", ""
            VALUE "FileDescription", "Wine Gallium Nine Direct3D"
            VALUE "FileVersion", NINE_VERSION
            VALUE "InternalName", ""
            VALUE "LegalCopyright", ""
            VALUE "OriginalFilename", "d3d9-nine.dll"
            VALUE "ProductName", "Wine"
            VALUE "ProductVersion", NINE_VERSION
        }
    }
    BLOCK "VarFileInfo"
    {
        /* LANG_ENGLISH/SUBLANG_DEFAULT, CP1200 (Unicode) */
        VALUE "Translation", 0x0409, 0x04B0
    }
}
