/*
 * WineCfg resources
 *
 * Copyright 2002 Jaco Greeff
 * Copyright 2003 Dimitrie O. Paun
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 *
 */

#include <windef.h>
#include <winuser.h>
#include <verrsrc.h>
#include <commctrl.h>

#include "resource.h"

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_TAB_MAIN                             "Global options"
    IDS_TAB_ABOUT                            "About"
    
    IDS_NINECFG_TITLE                        "Nine configuration"
    IDS_NINECFG_TITLE_APP                    "ninecfg"
    IDS_NINECFG_NINE_LOADABLE                "Tip: Make sure d3d9-nine.dll has the correct ARCH."
    IDS_NINECFG_D3D_ERROR                    "Tip: Make sure that d3dadapter9.so is installed."
    
END

IDD_ABOUT DIALOG  0, 0, 260, 230
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    CTEXT       NINE_PROJECT,IDC_STATIC,16,8,228,8
    CTEXT       NINE_VERSION,IDC_STATIC,16,20,228,8
    CONTROL     "",IDC_NINE_URL,"SysLink",WS_TABSTOP | LWS_TRANSPARENT,76,32,128,8
    GROUPBOX    "License",IDC_STATIC,8,52,244,40
    CTEXT       "GNU Lesser General Public License, version 2.1",IDC_STATIC,16,64,228,8
    CTEXT       "MESA: MIT License",IDC_STATIC,16,76,228,8

    GROUPBOX    "Authors",IDC_STATIC,8,100,244,120
    CTEXT       "Joakim Sindholt\nChristoph Bumiller\nTiziano Bacocco\nDavid Heidelberger\nAxel Davy\nNick Sarnie\nPatrick Rudolph",IDC_STATIC,16,112,228,96
END

IDD_NINE DIALOG  0, 0, 260, 220
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX    "Gallium Nine settings",IDC_STATIC,8,4,244,60
    LTEXT       "The following settings are experimental and may break stuff!\nMake sure to reset them again in case of a problem.\nGallium Nine requires MESA graphic drivers and AMD/Nvidia GPU.\n",IDC_STATIC,16,16,230,24
    CONTROL     "Enable &Gallium Nine for better D3D9 graphic performance.",IDC_ENABLE_NATIVE_D3D9,"Button",BS_CHECKBOX | WS_TABSTOP,16,48,230,8

    GROUPBOX    "Install state",IDC_STATIC,8,74,244,144
    CONTROL     "",IDC_NINE_STATE2,"Button",BS_CHECKBOX | WS_DISABLED,16,90,10,8
    LTEXT       "d3dadapter module path is set",IDC_STATIC,26,90,220,8
    LTEXT       "Tip",IDC_NINE_STATE_TIP2,32,102,210,16
    CONTROL     "",IDC_NINE_STATE3,"Button",BS_CHECKBOX | WS_DISABLED,16,122,10,8
    LTEXT       "Loading of d3d9adapter succeeded",IDC_STATIC,26,122,220,8
    LTEXT       "Tip",IDC_NINE_STATE_TIP3,32,134,210,16
    CONTROL     "",IDC_NINE_STATE4,"Button",BS_CHECKBOX | WS_DISABLED,16,154,10,8
    LTEXT       "d3d9-nine.dll is loadable",IDC_STATIC,26,154,220,8
    LTEXT       "Tip",IDC_NINE_STATE_TIP4,32,166,210,16
    CONTROL     "",IDC_NINE_STATE5,"Button",BS_CHECKBOX | WS_DISABLED,16,186,10,8
    LTEXT       "Creating a D3D9 device succeeded",IDC_STATIC,26,186,220,8
    LTEXT       "Tip",IDC_NINE_STATE_TIP5,32,198,210,16
END

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

VS_VERSION_INFO VERSIONINFO
FILEVERSION    NINE_MAJOR,NINE_MINOR,NINE_BUILD,NINE_REVISION
PRODUCTVERSION NINE_MAJOR,NINE_MINOR,NINE_BUILD,NINE_REVISION
FILEFLAGSMASK  63
FILEFLAGS      0
FILEOS         VOS_UNKNOWN
FILETYPE       VFT_APP
FILESUBTYPE    VFT2_UNKNOWN
{
    BLOCK "StringFileInfo"
    {
        /* LANG_ENGLISH/SUBLANG_DEFAULT, CP1200 (Unicode) */
        BLOCK "0409" "04B0"
        {
            VALUE "CompanyName", ""
            VALUE "FileDescription", "Wine Gallium Nine Configuration"
            VALUE "FileVersion", NINE_VERSION
            VALUE "InternalName", ""
            VALUE "LegalCopyright", ""
            VALUE "OriginalFilename", "ninewinecfg.exe"
            VALUE "ProductName", "Wine"
            VALUE "ProductVersion", NINE_VERSION
        }
    }
    BLOCK "VarFileInfo"
    {
        /* LANG_ENGLISH/SUBLANG_DEFAULT, CP1200 (Unicode) */
        VALUE "Translation", 0x0409, 0x04B0
    }
}

1 RT_MANIFEST ninewinecfg.manifest
